{% extends "admin/base.html" %}
{% block content %}
<div class="container">
    <h2>{{ form_title }}</h2>
    <p>Are you sure you want to delete the exchange rate for {{ object.from_currency }} to {{ object.to_currency }} on {{ object.rate_date }}?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirm Delete</button>
        <a href="{% url 'accounting:exchange_rate_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}