{% extends 'accounting/_list_base.html' %}
{% load static %}

{% block title %}Tax Authorities{% endblock %}
{% block breadcrumb %}Tax Authorities{% endblock %}
{% block add_url %}{% url 'accounting:tax_authority_create' %}{% endblock %}

{% block list_header %}
<h4 class="card-title">Tax Authorities</h4>
{% endblock %}

{% block create_button %}
<a href="{% url 'accounting:tax_authority_create' %}" class="btn btn-success mb-2">
    <i class="mdi mdi-plus me-1"></i> New Tax Authority
</a>
{% endblock %}

{% block table_head %}
<thead>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Description</th>
    <th>Action</th>
  </tr>
</thead>
{% endblock %}

{% block table_body %}
<tbody>
  {% for t in tax_authorities %}
  <tr>
    <td>{{ t.code }}</td>
    <td>{{ t.name }}</td>
    <td>{{ t.description }}</td>
    <td>
      <a href="{% url 'accounting:tax_authority_update' t.pk %}" class="btn btn-sm btn-primary">Edit</a>
    </td>
  </tr>
  {% empty %}
  <tr><td colspan="4">No tax authorities found.</td></tr>
  {% endfor %}
</tbody>
{% endblock %} 