{% extends "components/base/form_base.html" %}
{% load static %}

{% block title %}{% if form.instance.pk %}Edit Location{% else %}Create Location{% endif %}{% endblock %}
{% block form_title_text %}{% if form.instance.pk %}Edit Location{% else %}Create Location{% endif %}{% endblock %}

{% block form_fields %}
  {% include 'components/inventory/forms/location_form_fields.html' %}
{% endblock %}

{% block form_actions %}
  <div class="d-flex gap-2 ms-auto">
    <a href="{% url 'inventory:location_list' %}" class="btn btn-outline-secondary">Cancel</a>
    <button type="submit" class="btn btn-primary" data-form-submit>Save</button>
  </div>
{% endblock %}
