{% extends "components/base/list_base.html" %}
{% load static mptt_tags inventory_table_tags %}

{% block title %}Product Categories{% endblock %}
{% block list_page_title %}Product Categories{% endblock %}
{% block list_title %}Product Categories{% endblock %}

{% block list_actions %}
  <div class="btn-group btn-group-sm" role="group" aria-label="Category actions">
    {% if can_add %}
    <a href="{% url 'inventory:productcategory_create' %}" class="btn btn-success btn-sm">
      <i class="mdi mdi-plus"></i> Add Category
    </a>
    {% endif %}
  </div>
{% endblock %}

{% block table_head %}
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Active</th>
    <th style="width:140px;">Actions</th>
  </tr>
{% endblock %}
