{% extends "base.html" %}

{% block page_title %}Import Vouchers{% endblock page_title %}

{% block page_content %}
<div class="container">
    <h2 class="mb-3">Import Vouchers</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Upload and Preview</button>
    </form>

    {% if preview_data %}
        {% include "accounting/import/_import_preview.html" with data=preview_data %}
    {% endif %}
</div>
{% endblock %}
