{% extends 'service_management/_form_base.html' %}
{% load i18n %}

{% block page_title %}
    {% if form.instance.pk %}
        {% trans "Edit RMA Hardware" %}
    {% else %}
        {% trans "New RMA Hardware" %}
    {% endif %}
{% endblock %}

{% block form_title %}
    {% if form.instance.pk %}
        {% trans "Edit RMA Hardware" %}: {{ form.instance.rma_number }}
    {% else %}
        {% trans "Create New RMA Hardware" %}
    {% endif %}
{% endblock %}

{% block cancel_url %}{% url 'service_management:rmahardware_list' %}{% endblock %}
