{% extends 'partials/base.html' %}

{% block title %}Role{% endblock %}

{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <h2>Role</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                {% include 'partials/_form_actions.html' %}
            </form>
        </div>
    </div>
    {% block footer %}
        {% include 'partials/footer.html' %}
    {% endblock footer %}
</div>
{% endblock %}
