{% load generic_voucher_tags %}
<div id="purchase-lines-table">
  {{ line_formset.management_form }}
  <div class="table-responsive">
    <table class="table table-sm table-bordered mb-0" id="purchase-lines">
      <thead class="table-light">
        <tr>
          <th style="width:40px;">SN</th>
          {% if line_formset.forms and line_formset.forms.0.visible_fields %}
            {% for field in line_formset.forms.0.visible_fields %}
              <th>{{ field.label }}</th>
            {% endfor %}
          {% endif %}
          <th style="width:60px;">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {% if line_formset.forms %}
          {% for form in line_formset.forms %}
            {% with form_index=forloop.counter0 %}
              {% include 'accounting/partials/_purchase_line_row.html' with form=form form_index=form_index %}
            {% endwith %}
          {% endfor %}
        {% else %}
          <tr>
            <td class="text-center">1</td>
            {% for field in line_formset.empty_form.visible_fields %}
              <td>
                {% with widget_name=field|widget_type %}
                  {% if widget_name == "Select" %}
                    {{ field|add_class:"form-select form-select-sm" }}
                  {% else %}
                    {{ field|add_class:"form-control form-control-sm" }}
                  {% endif %}
                {% endwith %}
              </td>
            {% endfor %}
            <td class="text-center"><button type="button" class="btn btn-outline-danger btn-sm">&times;</button></td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
