{% load widget_tweaks %}
{% with bound_form=form|default:journal_form %}
<div class="row g-3 mb-3">
  {% if bound_form.journal_date %}
    <div class="col-sm-6 col-md-3">
      {{ bound_form.journal_date.label_tag }}
      {{ bound_form.journal_date|add_class:"form-control" }}
    </div>
  {% endif %}
  {% if bound_form.journal_type %}
    <div class="col-sm-6 col-md-3">
      {{ bound_form.journal_type.label_tag }}
      {{ bound_form.journal_type|add_class:"form-select" }}
    </div>
  {% endif %}
  {% if bound_form.currency_code %}
    <div class="col-sm-6 col-md-3">
      {{ bound_form.currency_code.label_tag }}
      {{ bound_form.currency_code|add_class:"form-select" }}
    </div>
  {% endif %}
  {% if bound_form.exchange_rate %}
    <div class="col-sm-6 col-md-3">
      {{ bound_form.exchange_rate.label_tag }}
      {{ bound_form.exchange_rate|add_class:"form-control" }}
    </div>
  {% endif %}
</div>

<div class="row g-3 mb-3">
  {% if bound_form.reference %}
    <div class="col-md-4">
      {{ bound_form.reference.label_tag }}
      {{ bound_form.reference|add_class:"form-control" }}
    </div>
  {% endif %}
  {% if bound_form.description %}
    <div class="col-md-8">
      {{ bound_form.description.label_tag }}
      {{ bound_form.description|add_class:"form-control" }}
    </div>
  {% endif %}
</div>

{% with exclude_fields=header_exclude_fields|default:None %}
{% for field in bound_form %}
  {% if not exclude_fields or field.name not in exclude_fields %}
    <div class="mb-3">
      {{ field.label_tag }} {{ field|add_class:"form-control" }}
    </div>
  {% endif %}
{% endfor %}
{% endwith %}
{% endwith %}
