{% extends 'Inventory/_list_base.html' %}
{% load i18n %}

{% block page_title %}{% trans "RMAs" %}{% endblock %}

{% block list_title %}{% trans "RMA List" %}{% endblock %}

{% block create_url %}{% url 'inventory:rma_create' %}{% endblock %}

{% block table_headers %}
    <th>{% trans "RMA Number" %}</th>
    <th>{% trans "Status" %}</th>
    <th>{% trans "Created" %}</th>
{% endblock %}

{% block table_columns %}
    { data: 'rma_number' },
    { data: 'status' },
    { data: 'created_at', render: function(data) { return new Date(data).toLocaleDateString(); } }
{% endblock %}