{% extends 'partials/base.html' %}
{% load i18n %}

{% block title %}{% trans "Warehouse Details" %}{% endblock %}

{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">{% trans "Warehouse Details" %}</h4>
                        </div>
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-sm-3">{% trans "Code" %}</dt>
                                <dd class="col-sm-9">{{ warehouse.code }}</dd>
                                <dt class="col-sm-3">{% trans "Name" %}</dt>
                                <dd class="col-sm-9">{{ warehouse.name }}</dd>
                                <dt class="col-sm-3">{% trans "Address" %}</dt>
                                <dd class="col-sm-9">{{ warehouse.address }}</dd>
                            </dl>
                            <a href="{% url 'inventory:warehouse_list' %}" class="btn btn-secondary">{% trans "Back to List" %}</a>
                            <a href="{% url 'inventory:warehouse_update' warehouse.pk %}" class="btn btn-primary">{% trans "Edit" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}