{% extends 'components/base/form_base.html' %}
{% load i18n %}

{% block title %}
    {% if form.instance.pk %}
        {% trans "Edit Warehouse" %}
    {% else %}
        {% trans "Create Warehouse" %}
    {% endif %}
{% endblock %}

{% block form_title_text %}
    {% if form.instance.pk %}
        {% trans "Edit Warehouse" %}: {{ form.instance.name }}
    {% else %}
        {% trans "Create New Warehouse" %}
    {% endif %}
{% endblock %}

{% block form_fields %}
    {% include 'components/inventory/forms/warehouse_form_fields.html' %}
{% endblock %}

{% block form_actions %}
  <div class="d-flex gap-2 ms-auto">
    <a href="{% url 'inventory:warehouse_list' %}" class="btn btn-outline-secondary">
        {% trans "Cancel" %}
    </a>
    <button type="submit" class="btn btn-primary" data-form-submit>
        {% trans "Save" %}
    </button>
  </div>
{% endblock %}
