{% comment %} Form Actions (Submit, Save as Draft, Cancel) {% endcomment %}
<div class="row mt-4">
    <div class="col-12">
        {% if perms.accounting.journal_add %}
            <button type="submit" class="btn btn-primary">Save Voucher</button>
            <button type="submit" name="save_draft" class="btn btn-secondary">Save as Draft</button>
        {% else %}
        
        <button type="button" id="submit-btn" class="btn btn-success">Preview &amp; Submit</button>
            <button type="button" class="btn btn-primary" disabled>Save (No Permission)</button>
        {% endif %}
        <a href="{% url 'accounting:journal_list' %}" class="btn btn-light">Cancel</a>
    </div>
</div> 